/AdministrateurRepository.java
/CandidatRepository.java
/CertificationRepository.java
/CollaborateurRepository.java
/ContactRepository.java
/CurriculumRepository.java
/DiplômeRepository.java
/EntrepriseRepository.java
/OpportunitéRepository.java
/PartenaireRepository.java
/RappelRepository.java
/TechnologieRepository.java
/UtilisateurRepository.java
/VisaRepository.java
/ÉcoleRepository.java
